# Build and Release
bin/
obj/
/out/

# Dependencies
/.gemini/
.gemini/

# IDEs
.idea/
.vscode/
*.swp
*.user
*.suo
.vs/
*.sln.docstates

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
terraform.rc
terraform.tfvars

# Ansible
*.retry

# Kubernetes Secrets (Prevent committing credentials)
k8s/01-secret.yaml
# Ignore the ClusterIssuer as it may contain email
k8s/06-cluster-issuer.yaml

# Local uploads
uploads/
*.sln.docstates
OrderApi.sln
