version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: erp_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P YourStrong@Passw0rd -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 5
      start_period: 20s

  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: erp_db_init
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./sql:/sql
    entrypoint: /bin/bash
    command: -c "/opt/mssql-tools/bin/sqlcmd -S db -U sa -P YourStrong@Passw0rd -C -i /sql/auth/init-auth.sql && /opt/mssql-tools/bin/sqlcmd -S db -U sa -P YourStrong@Passw0rd -C -i /sql/products/init-products.sql && /opt/mssql-tools/bin/sqlcmd -S db -U sa -P YourStrong@Passw0rd -C -i /sql/target-market/init-target-market.sql"

  auth-api:
    build:
      context: .
      dockerfile: src/Auth.Api/Dockerfile
    image: erp-auth-api:latest
    container_name: auth_api
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Master;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;
      - JwtSettings__SecretKey=your-super-secret-key-minimum-32-characters-long-change-in-production
      - JwtSettings__Issuer=AuthApi
      - JwtSettings__Audience=ErpClients
      - JwtSettings__AccessTokenExpirationMinutes=15
      - JwtSettings__RefreshTokenExpirationDays=7
      - EmailSettings__SmtpHost=smtp.gmail.com
      - EmailSettings__SmtpPort=587
      - EmailSettings__SmtpUser=shuvo83qn@gmail.com
      - EmailSettings__SmtpPass=jslq wvnp phqg gjly
      - EmailSettings__FromEmail=noreply@authapi.com
      - EmailSettings__FromName=Auth API
      - EmailSettings__EnableSsl=true
    depends_on:
      db:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully

  product-api:
    build:
      context: .
      dockerfile: src/ProductApi.Api/Dockerfile
    image: erp-product-api:latest
    container_name: product_api_service
    ports:
      - "8083:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Master;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;
      - JwtSettings__SecretKey=your-super-secret-key-minimum-32-characters-long-change-in-production
      - JwtSettings__Issuer=AuthApi
      - JwtSettings__Audience=ErpClients
      - Cloudinary__CloudName=dd2tk1vnp
      - Cloudinary__ApiKey=236387315854276
      - Cloudinary__ApiSecret=EQn_MV-a28FecrmvGvIZIWe4XT0
    depends_on:
      db:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

  target-market-api:
    build:
      context: .
      dockerfile: src/TargetMarketApi.Api/Dockerfile
    image: erp-target-market-api:latest
    container_name: target_market_api
    ports:
      - "8084:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Master;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;
      - JwtSettings__SecretKey=your-super-secret-key-minimum-32-characters-long-change-in-production
      - JwtSettings__Issuer=AuthApi
      - JwtSettings__Audience=ErpClients
      - Cloudinary__CloudName=dd2tk1vnp
      - Cloudinary__ApiKey=236387315854276
      - Cloudinary__ApiSecret=EQn_MV-a28FecrmvGvIZIWe4XT0
    depends_on:
      db:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully
