version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: order_db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    healthcheck:
      test: [ "CMD-SHELL", "/opt/mssql-tools18/bin/sqlcmd -S localhost -U sa -P YourStrong@Passw0rd -C -Q 'SELECT 1' || exit 1" ]
      interval: 10s
      retries: 5
      start_period: 20s

  db-init:
    image: mcr.microsoft.com/mssql-tools
    container_name: order_db_init
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./sql:/sql
    entrypoint: /bin/bash
    command: -c "/opt/mssql-tools/bin/sqlcmd -S db -U sa -P YourStrong@Passw0rd -C -i /sql/init.sql"

  api:
    image: ${DOCKER_IMAGE_NAME:-semcorp-api}:latest
    # build: . # Commented out for production deployment using pre-built image
    container_name: order_api
    ports:
      - "8080:8080"
    environment:
      - ConnectionStrings__DefaultConnection=Server=db;Database=Master;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True;
    depends_on:
      db:
        condition: service_healthy
      db-init:
        condition: service_completed_successfully
